@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e40af; /* Blue-800 */
  --secondary: #3b82f6; /* Blue-500 */
  --accent: #eff6ff; /* Blue-50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
